@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bad+Script&family=Cormorant:wght@500&display=swap");

:root {
  --animation-end-width: 210px;
}
* {
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  -webkit-appearance: none;
}

/*--------------------------------------HEADER -----------------------*/

/*---------------------BTN--------------------*/

.logo {
  color: #141414;
  cursor: default;
  font-size: 2.8rem;
  font-weight: 700;
  letter-spacing: 4px;
  text-decoration: none;
  text-shadow: 2px 2px 4px #000000, -2px -2px 4px #4c4c4c;
}

.logo.sticky {
  color: #e0e0e0;
  text-shadow: 2px 2px 4px #8d8d8d, -2px -2px 4px #ffffff;
}

.expendable-btn-container {
  align-items: center;
  display: flex;
  height: 80px;
  justify-content: center;
  width: 100%;
}

.global-container {
  align-items: center;
  display: flex;
  justify-content: flex-start;
  margin: 65px;
  position: relative;
  text-align: center;
  width: 40px;
}

.round-btn {
  align-items: center;
  border-radius: 30%;
  background: linear-gradient(145deg, #151515, #121212);
  box-shadow: 7px 7px 10px #090909, -5px -5px 8px #2b2b2b; 
  color: #fff;
  display: flex;
  font-size: 1.2rem;
  height: 40px;
  justify-content: center;
  position: relative;
  position: absolute;
  text-align: center;
  width: 40px;
}

.longBtn:hover {
  box-shadow: #00b87a 0px 2px 1px, #00b87bbd 0px 4px 2px, #00b87b77 0px 8px 4px,
    #00b87b38 0px 16px 8px, #00b87b18 0px 32px 16px;
}

.round-btn.sticky {
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 7px 7px 10px #8d8d8d, -7px -7px 10px #ffffff;
  color: black;
}

.longBtn {
  align-items: center;
  background: linear-gradient(145deg, #151515, #121212);
  border-radius: 20px;
  color: #fff;
  display: flex;
  height: 35px;
  justify-content: center;
  overflow: hidden;
  position: absolute;
  transform-origin: left;
  transition: all 300ms ease;
  width: 35px;
}

.long-shadow {
  box-shadow: #00b87a 0px 2px 1px, #00b87bbd 0px 4px 2px, #00b87b77 0px 8px 4px,
    #00b87b38 0px 16px 8px, #00b87b18 0px 32px 16px;
}
.longBtn.sticky {
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 7px 7px 10px #8d8d8d, -7px -7px 10px #ffffff;
  color: black;
}

.long-btn-a {
  color: #00b87a;
  font-size: 0.8rem;
  letter-spacing: 1.35px;
  margin-left: 19px;
  text-decoration: none;
  text-shadow: #00b87b9a -2px -2px 4px;
}
.long-btn-a.sticky {
  color: #333;
  text-shadow: none;
}

.flag-container {
  align-items: center;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin-left: 20px;
  margin-top: -3px;
  right: 0;
}

.btn-lang {
  background-color: transparent;
  border: none;
  outline: none;
  transition: 0.5s ease-in-out;
  cursor: pointer;
  width: 40px;
  height: 40px;
  background-color: #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 30%;
  margin-right: 10px;
  background: linear-gradient(145deg, #151515, #121212);
  box-shadow: 7px 7px 10px #090909, -5px -5px 8px #2b2b2b;
  color: #fff;
}
.btn-lang:hover {
  z-index: 1;
  transform: scale(0.99);
  background: #141414;
  box-shadow: inset 7px 7px 12px #090909, inset -7px -7px 12px #1f1f1f;
  color: #00b87a;
  text-shadow: 0 0 0 13px;
}

.btn-lang.sticky {
  color: black;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 7px 7px 10px #8d8d8d, -7px -7px 10px #ffffff;
}
.btn-lang.sticky:hover {
  transform: scale(0.99);
  background: #e0e0e0;
  box-shadow: inset 14px 14px 17px #a4a4a4, inset -14px -14px 17px #ffffff;
  color: rgb(0, 247, 255);
  text-shadow: 0 0 0 13px;
}

.menu {
  display: none;
}
.toggle {
  display: none;
}

.menu-icon-png {
  width: 70%;
  height: 70%;
  filter: invert(100%);
}
.menu-icon-png.sticky {
  filter: invert(0%);
}

.btn {
  display: inline-block;
  position: relative;
  width: fit-content;
  min-width: 210px;
  border-radius: 10px;
  margin-top: 20px;
  margin-right: 20px;
  padding: 10px 30px;
  background: linear-gradient(145deg, #151515, #121212);
  box-shadow: 7px 7px 10px #090909, -5px -5px 8px #2b2b2b;

  color: #fff;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 2px;
  text-decoration: none;
  text-transform: uppercase;
  text-align: center;

  transition: all 250ms ease-in-out;
}

.btn:hover {
  background: #141414;
  box-shadow: inset 7px 7px 12px #090909, inset -7px -7px 12px #1f1f1f;
  transform: scale(0.99);
}

/*----------HEADER ELEMENT -----------*/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 30px 50px;
  z-index: 1000;
  display: flex;
  justify-content: space-between;
  align-items: center;
  transition: 0.5s;
}

header.sticky {
  background: #e0e0e0;
  padding: 5px 50px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.1);
}
.container-logo {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/*---------FIRST VIEW------------*/
section {
  padding: 100px;
}

/*------BACKGROUND ELEMENT ----------------*/
.full-stack {
  position: absolute;
  top: 0;
  left: 0;
  width: 80vw;
  height: 100vh;
  color: rgba(255, 255, 255, 0.02);
  font-size: 15rem;
  font-weight: 800;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
}
.full-stack:first-child {
  padding-top: 50px;
}

/*----------FRONT ELEMENT ----------*/

.banner {
  position: relative;
  min-height: 100vh;
  background-color: #141414;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.banner h2 {
  font-size: 3em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner h2 span {
  font-size: 1.5em;
  font-weight: 700;
}

.banner h1 {
  font-size: 1.5em;
  color: #fff;
  font-weight: 500;
  line-height: 1.5em;
}

.banner .skillBx {
  padding-top: 0px 0 10px 0;
  display: flex;
  justify-content: space-between;
  color: #fff;
  text-align: center;
  transition: 0.5s;
  margin-left: -10px;
  margin-top: 30px;
  width: 100%;
}

.banner .skillBx img {
  padding: 10px;
  margin: 7px;
  height: 60px;
  border-radius: 20%;
  background: linear-gradient(145deg, #151515, #121212);
  box-shadow: 7px 7px 10px #090909, -7px -7px 10px #1f1f1f;
}

.heading {
  width: 100%;
  text-align: center;
  margin-bottom: 30px;
  color: #111;
}

.heading h1 {
  font-weight: 600;
  font-size: 30px;
}

.content {
  display: flex;
  justify-content: space-between;
}

.contentBx {
  padding-right: 75px;
  width: 70vw;
}

.contentBx h3 {
  font-size: 24px;
  margin-bottom: 10px;
}

/**/
.title-about-me {
  text-align: left;
  color: #141414;
  text-shadow: 2px 2px 4px #000000, -2px -2px 4px #4c4c4c;
  font-size: 2.5rem;
  letter-spacing: 2.5px;
}

.w50 {
  /*   max-height: 10%; */
  width: 50%;
  margin: 0 auto;
}

.w50 h1 {
  margin-bottom: 30px;
}
.imgAbout {
  max-width: 100%;
}

.bar {
  background-color: rgb(44, 44, 44);
  padding: 5px;
  border-radius: 6px;
  margin-bottom: 8px;
  font-size: 14px;
  color: #fff;
  font-weight: bold;
  background: linear-gradient(145deg, #121212, #151515);
  box-shadow: 14px 14px 17px #0f0f0f, -14px -14px 17px #191919;
}
.bar::before {
  content: attr(data-skill);
  display: inline-block;
  padding: 3px 0 4px 5px;
  border-radius: inherit;
  animation: load 2s 0s;
  -webkit-animation: load 2s 0s;
  -moz-animation: load 2s 0s;
  -o-animation: load 2s 0s;
}

.bar.front::before {
  color: #fff;
  background: linear-gradient(145deg, #1ac4fd, #16a5d4);
}
.bar.back::before {
  background: linear-gradient(145deg, #057499, #056181);
}

.bar.learning::before {
  width: calc(20% - 10px);
}
.bar.basic::before {
  width: calc(40% - 10px);
}
.bar.intermediate::before {
  width: calc(60% - 10px);
  background-color: #0b2636;
}
.bar.advanced::before {
  color: #fff;
  width: calc(80% - 10px);
  background-color: #246286;
}
.bar.expert::before {
  width: calc(100% - 10px);
}

/**/

/*------*/
.work {
  background-color: #e0e0e0;
}

.workBx {
  width: 250px;
  height: 150px;
  position: relative;
  border-radius: 20px;
  color: #444;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.5s ease-in-out;
  background: linear-gradient(145deg, #f0f0f0, #cacaca);
  box-shadow: 7px 7px 10px #8d8d8d, -7px -7px 10px #ffffff;
  z-index: 1;
}
.hide {
  display: none;
}
.work .content .workBx {
  padding: 20px;
  text-align: center;
  margin: 10px 10px;
}
.work-title {
  color: #e0e0e0;
  text-shadow: 2px 2px 4px #8d8d8d, -2px -2px 4px #ffffff;
  font-size: 2.5rem;
  letter-spacing: 2.5px;
}

.workBx:hover {
  transform: scale(0.99);
  background: #e0e0e0;
  box-shadow: inset 14px 14px 17px #a4a4a4, inset -14px -14px 17px #ffffff;
  color: #00b87a;
  text-shadow: 0.5px 0.5px 0.1px #444, #00b87b9a -4px -4px 6px;
  font-size: 1.02rem;
}

.work .content {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.work .content .workBx img {
  max-width: 100%;
  height: 20vh;
  width: auto;
  z-index: -5;
}

.workBx012::after {
  background-image: url("/assets/Logo projet/disney.png");
  background-size: 80%;

  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  z-index: 0;
}

.workBx01::after {
  background-image: url("/assets/Logo projet/chat.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  z-index: 0;
}

.workBx011::after {
  background-image: url("/assets/Logo projet/tesla.png");
  background-size: 60%;

  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  z-index: 0;
}

.workBx0::after {
  background-image: url("/assets/Logo projet/resto.png");
  background-size: 45%;

  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  z-index: 0;
}

.workBx1::after {
  background-image: url("/assets/Logo projet/cadi.png");
  background-size: 70%;

  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  z-index: 0;
}

.workBx2::after {
  background-image: url("/assets/Logo projet/LazyBeast.png");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  z-index: 0;
  filter: grayscale(100%);
}
.workBx3::after {
  background-image: url("/assets/Logo projet/Cineapps.png");
  background-size: 90%;
  background-repeat: no-repeat;
  background-position: top;

  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  z-index: 0;
  filter: grayscale(100%);
}

.workBx4::after {
  background-image: url("/assets/Logo projet/book.png");
  background-size: 50%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  z-index: 0;
}

.workBx5::after {
  background-image: url("/assets/Logo projet/flag.png");
  background-size: 62%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  z-index: 0;
}
.workBx6::after {
  background-image: url("/assets/Logo projet/eyes.png");
  background-size: 110%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  z-index: 0;
}

.workBx7 {
  display: none;
}
.workBx7::after {
  background-image: url("/assets/Logo projet/Piano.png");
  background-size: 55%;
  background-repeat: no-repeat;
  background-position: center;

  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  z-index: 0;
}
.workBx8::after {
  background-image: url("/assets/Logo projet/badcitizen.png");
  background-size: 42%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.2;
  z-index: 0;
}
.workBx9::after {
  background-image: url("/assets/Logo projet/tictac.png");
  background-size: 85%;
  background-repeat: no-repeat;
  background-position: center;
  filter: grayscale(100%);
  position: absolute;
  content: " ";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
  opacity: 0.1;
  z-index: 0;
}

.about {
  background: #141414;
  color: #e0e0e0;
}
.services {
  background: #e0e0e0;
}

.title-services {
  color: #e0e0e0;
  text-shadow: 2px 2px 4px #8d8d8d, -2px -2px 4px #ffffff;
  font-size: 2.5rem;
  letter-spacing: 2.5px;
}

.heading.white {
  color: #fff;
}

.services .content {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  flex-direction: row;
}

.services .content .servicesBx {
  padding: 40px 20px;
  background: #141414;
  color: #333;
  border-radius: 8px;
  max-width: 340px;
  margin: 20px;
  text-align: center;
  transition: 0.5s;
  background: #e0e0e0;
  box-shadow: 14px 14px 17px #a4a4a4, -14px -14px 17px #ffffff;
}

.services .content .servicesBx:hover {
  transform: scale(1.02);
}

.services .content .servicesBx img {
  max-width: 80px;
  filter: invert(1);
}

.services .content .servicesBx .logo-language {
  max-width: 40px;
}

.services .content .servicesBx h2 {
  font-size: 20px;
  font-weight: 600;
}
/*------------*/

.logo-language:hover {
  transition: 1ease;
  transform: scale(1.2);
}

.services .content .skillBx h2 {
  font-size: 20px;
  font-weight: 600;
}

.contact {
  background: #141414;
}

.title-form-contact {
  text-align: left;
  color: #141414;
  text-shadow: 2px 2px 4px #000000, -2px -2px 4px #4c4c4c;
  font-size: 2.5rem;
  letter-spacing: 2.5px;
}
.formBx {
  min-width: 60%;
}

.formBx form {
  display: flex;
  flex-direction: column;
}

.title-informations {
  text-align: center;
  color: #fff;
  margin: 3px 8px;
  padding: 10px 0;
  border-radius: 8px;
  background: linear-gradient(145deg, #151515, #121212);
  box-shadow: 7px 7px 14px #0b0b0b, -7px -7px 14px #1d1d1d;
}

.box {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  border: 1px solid #111;
  transition: all 250ms ease-in-out;
  margin: 10px 8px;
  border-radius: 8px;
  height: 50px;
  background: linear-gradient(145deg, #151515, #121212);
  box-shadow: 7px 7px 14px #0b0b0b, -7px -7px 14px #1d1d1d;
}
.icon-contact-box {
  height: 40px;
  width: 40px;
  border-radius: 30%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 5px;
  font-size: 24px;
  color: #fff;
  background: linear-gradient(145deg, #151515, #121212);
  box-shadow: 7px 7px 14px #0b0b0b, -7px -7px 14px #1d1d1d;
}
#contact-icon {
  width: 10%;
}

.contact-img {
  width: 30px;
  filter: invert(100%);
}

#phone-img {
  height: 32px;
}
.text-contact-info-1,
.text-contact-info-2,
.text-contact-info-3,
.text-contact-info-4,
.text-contact-info-5,
.text-contact-info-6 {
  text-align: center;
  display: none;
  font-size: 1rem;
  width: 100%;
  color: #00b87a;
  text-shadow: #00b87b9a -2px -2px 4px;
  transition: all 1s ease;
  text-decoration: none;
  outline: none;
}

.text-contact-info-mobile-1,
.text-contact-info-mobile-2,
.text-contact-info-mobile-3,
.text-contact-info-mobile-4,
.text-contact-info-mobile-5,
.text-contact-info-mobile-6 {
  display: none;
}
.text-contact-info-1,
.text-contact-info-2,
.text-contact-info-3 {
  font-size: 0.9rem;
}
.text-contact-info-4,
.text-contact-info-5,
.text-contact-info-6 {
  letter-spacing: 2px;
}
a {
  text-decoration: none;
  outline: none;
}

.animation {
  animation: 250ms linear animateContactIcon;
  animation-fill-mode: forwards;
}

.animation-back {
  animation: 550ms linear animateBackContactIcon;
  animation-fill-mode: forwards;
}
@keyframes animateContactIcon {
  0% {
    transform: translateX(0px);
  }
  100% {
    transform: translateX(var(--animation-end-width));
  }
}

@keyframes animateBackContactIcon {
  0% {
    transform: translateX(var(--animation-end-width));
  }
  100% {
    transform: translateX(0px);
  }
}

.formBx form input,
.formBx form textarea {
  margin-bottom: 10px;
  padding: 15px;
  font-size: 16px;
  border: none;
  outline: none;
  background: #222;
  color: #fff;
  resize: none;
  background: #141414;
  box-shadow: inset 7px 7px 14px #0b0b0b, inset -7px -7px 14px #1d1d1d;

  /* -webkit-box-shadow: inset 7px 7px 14px #0b0b0b, inset -7px -7px 14px #1d1d1d; */
}

.formBx form textarea {
  min-height: 250px;
}

.formBx form input::placeholder,
.formBx form textarea::placeholder {
  color: #999;
}

.formBx form input[type="submit"] {
  background: #094b81;
  cursor: pointer;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.btn-send {
  border: none;
  text-decoration: none;
  outline: none;
  appearance: none;
}

.contactInfo {
  padding: 20px 15px;
  border-radius: 18px;
  background-color: red;
  min-width: 30%;
  background: #141414;
  box-shadow: inset 7px 7px 14px #0b0b0b, inset -7px -7px 14px #1d1d1d;
}

.contactInfoBx {
  position: relative;
}

.contactInfoBx .box {
  position: relative;
  padding: 20px 0;
  display: flex;
}

.contactInfoBx .box .text {
  display: flex;
  margin-left: 20px;
  font-size: 16px;
  color: #fff;
  flex-direction: column;
  font-weight: 300;
}

.contactInfoBx .box .text h3 {
  font-weight: 500;
  color: #2196f3;
  margin-bottom: 0;
}

.copyright {
  background: #000;
  color: #fff;
  text-align: center;
  padding: 10px;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0);
  transition: 200ms ease-in-out;
  border: 1px solid black;
  border-radius: 10px;
  z-index: 10;
  color: white;
  background: rgba(18, 18, 18, 0.8);

  width: 80vw;
  height: 80vh;
  max-height: 80%;
  max-width: 80%;
  z-index: 5001;
}

.modal.active {
  transform: translate(-50%, -50%) scale(1);
}

.modal-header {
  padding: 10px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;

  border-bottom: 1px solid rgb(86, 88, 248);
}

.modal-header .title {
  display: flex;
  align-items: center;
  justify-content: center;
}
.modal-header .title img {
  padding: 2px;
  height: 35px;
}

.icon-color {
  fill: yellow;
}
.modal-header .title img:first-child {
  padding-left: 20px;
}

.modal-header .title {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  color: #00b87a;
  text-shadow: #00b87b9a -2px -2px 4px;
}

.modal-header .close-button {
  cursor: pointer;
  border: none;
  outline: none;
  background: none;
  font-size: 1.5rem;
  font-weight: bold;
  color: #fff;
}

.modal-body {
  height: 85%;
  text-align: center;
  padding: 10px 15px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  justify-content: space-between;
  align-items: center;
}

.modal-body p {
  margin-bottom: 20px;
}
.carousel {
  width: 70%;
  height: 70%;
  position: relative;
}

.carousel > ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.slide {
  position: absolute;
  inset: 0;
  opacity: 0;
  transition: 200ms opacity ease-in-out;
  transition-delay: 200ms;
}

.slide > img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  border: 10px solid rgba(15, 15, 15, 0.63);
  box-shadow: inset 7px 7px 14px #0b0b0b, inset -7px -7px 14px #1d1d1d;
  border-radius: 14px;
}

.slide[data-active] {
  opacity: 1;
  z-index: 1;
  transition-delay: 0ms;
}

.carousel-button {
  position: absolute;
  z-index: 2;
  background: none;
  border: none;
  font-size: 4rem;
  top: 50%;
  transform: translateY(-50%);
  color: rgba(255, 255, 255, 0.8);
  cursor: pointer;
  border-radius: 0.25rem;
  padding: 0 0.5rem;
  background-color: rgba(0, 0, 0, 0.1);
}

.carousel-button:hover,
.carousel-button:focus {
  color: white;
  background-color: rgba(0, 0, 0, 0.2);
}

.carousel-button:focus {
  outline: 1px solid black;
}

.carousel-button.prev {
  left: 1rem;
}

.carousel-button.next {
  right: 1rem;
}

#overlay {
  position: fixed;
  opacity: 0;
  transition: 200ms ease-in-out;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.6);
  pointer-events: none;
}

#overlay.active {
  z-index: 5000;
  opacity: 1;
  pointer-events: all;
  backdrop-filter: blur(3px);
  -webkit-backdrop-filter: blur(3px);
}

/*Responsive*/

@media (max-width: 991px) {
  .expendable-btn-container {
    display: none;
  }
  header,
  header.sticky {
    padding: 5px 50px;
  }
  .menu {
    position: fixed;
    top: 75px;
    left: -110%;
    display: flex;

    align-items: center;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    background: #e0e0e0;
    transition: 0.5s;
    z-index: 999;
    border-top: 1px solid rgba(0, 0, 0, 0.2);
  }
  .menu.active {
    left: 0;
  }

  .toggle {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    transition: all 300ms ease-in-out;
    cursor: pointer;
    border-radius: 30%;
    box-shadow: 7px 7px 10px #090909, -7px -7px 10px #1f1f1f;
  }
  .menu-icon,
  .menu-close-icon {
    width: 80%;
    position: absolute;
    filter: invert(100%);
    transition: all 700ms ease-in-out;
  }

  .menu-icon.sticky,
  .menu-close-icon.sticky {
    filter: invert(0%);
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #ffffff;
  }

  .opacity {
    opacity: 0;
  }

  .toggle.sticky {
    background: #e0e0e0;
    box-shadow: 20px 20px 60px #b3b3b3, -20px -20px 60px #ffffff;
  }

  .toggle.active {
    cursor: pointer;
  }

  .toggle-menu-home-link {
    width: 100%;
    height: 100%;
    font-size: 3rem;
    text-decoration: none;
    outline: none;
    color: #333;
    text-shadow: 4px -4px 8px #272727, -4px 4px 8px #3f3f3f;
  }

  .container-toggle-link {
    width: 350px;
    height: 70px;
    border-radius: 10px;
    background: #e0e0e0;

    box-shadow: 17px 17px 34px #b3b3b3, -17px -17px 34px #ffffff;

    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.5rem;
    text-decoration: none;
    outline: none;

    color: #333;
  }
  .container-toggle-link:first-child {
    box-shadow: 17px 17px 34px #b3b3b3, -10px -10px 34px #ffffff;
  }

  /*  header.sticky .toggle {
    filter: invert(1);
  } */
  section {
    padding: 100px 50px;
  }
  .banner {
    padding: 150px 50px 100px;
  }
  .banner h2 {
    font-size: 1.5em;
  }
  .banner h3 {
    font-size: 1em;
  }
  .realisationDescription {
    text-align: center;
  }
  .btn {
    margin-top: 10px;
    padding: 10px 20px;
    font-size: 16px;
  }
  .heading h2 {
    font-size: 24px;
  }
  .contentBx h3 {
    font-size: 20px;
  }
  .content {
    flex-direction: column;
  }
  .w50 {
    min-width: 50%;
    margin-bottom: 20px;
  }
  .services .content .servicesBx {
    margin: 10px;
  }
  .work .content .workBx {
    width: 100%;
    padding: 0 10px;
    margin: 10px 0;
  }

  .contentBx {
    margin: 20px 0;
  }

  .flag-container {
    margin-left: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }
  .banner .skillBx img {
    padding: 5px;
    height: 40px;
    margin-top: 10px;
    margin: 5px;
  }
  .btn {
    font-size: 0.6rem;
    width: 170px;
  }
  .flag-container {
    display: none;
  }
}

@media (max-width: 600px) {
  .expendable-btn-container {
    display: none;
  }
  .flag-container {
    display: none;
  }

  header,
  header.sticky {
    padding: 5px 20px;
    z-index: 1000;
  }
  .text-about-me {
    overflow-x: hidden;
    width: 100%;
  }

  .banner {
    padding: 150px 20px 100px;
  }
  section {
    padding: 100px 20px;
  }

  .btn {
    font-size: 0.6rem;

    min-width: 170px;
  }
  .carousel {
    padding-top: 20px;
    width: 100%;
    height: 100%;
    position: relative;
  }

  .carousel-button {
    font-size: 1.5rem;
    top: 42%;
  }

  .full-stack {
    position: absolute;
    top: 0;
    left: 20%;
    width: 50vw;
    height: 90vh;
    color: rgba(255, 255, 255, 0.05);
    font-size: 7rem;
    font-weight: 800;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    margin: 35px;
  }
  .banner .skillBx img {
    padding: 2px;
    height: 30px;
    margin-top: 10px;
    margin: 5px;
  }
  .content {
    display: flex;
    justify-content: space-between;
  }

  .title-about-me {
    text-align: center;
    font-size: 1.8rem;
  }

  .heading h2 {
    font-size: 2.5rem;
  }

  .contentBx {
    padding: 0 0.3rem;
    width: 100%;
  }
  .w50 {
    /*   max-height: 10%; */
    width: 80vw;
    margin: 0 auto;
  }
  .modal-header .title {
    font-size: 1rem;
    font-weight: bold;
    color: #63b1f1;
    padding-left: 5px;
    width: fit-content;
  }
  .modal-header .title img {
    height: 25px;
    padding: 0;
  }
  .link-social-on-mobile {
    display: none;
  }

  .text-contact-info-mobile-1,
  .text-contact-info-mobile-2,
  .text-contact-info-mobile-3,
  .text-contact-info-mobile-4,
  .text-contact-info-mobile-5,
  .text-contact-info-mobile-6 {
    display: flex;
    padding-left: 20px;
    text-decoration: none;
    color: #00b87a;
  }

  .contactInfo {
    margin-bottom: 35px;
  }
}
